#checkbox-delete {
  margin-top: 30%;
  text-align: center;
}
#checkbox-delete button {
  margin-top: 5%;
}
#checkbox-delete button:disabled {
  background-color: rgba(25, 25, 112, 0.5);
}
#checkbox-delete label {
  margin-left: 2%;
}

.center {
  text-align: center;
}
