#checkbox-delete {
  margin-top: 10%;
}
#checkbox-delete button {
  margin-top: 1%;
}
#checkbox-delete button:disabled {
  background-color: rgba(25, 25, 112, 0.5);
}
#checkbox-delete label {
  display: inline;
  margin-left: 2%;
}
