<div class="container">
  <header class="header">
    <a routerLink="/channel/General" class="title">
      <img class="title" src="assets/images/logo.png" />
    </a>
    <nav>
      <a *ngIf="userService.isLoggedInUser()" routerLink="/profile"
        ><img class="icon-profile" src="assets/images/icon-profile.png"
      /></a>
      <a *ngIf="!userService.isLoggedInUser()" routerLink="/login"
        ><img class="icon-profile" src="assets/images/icon-profile.png"
      /></a>
    </nav>
  </header>

  <div class="channel-list"><app-list-channel></app-list-channel></div>

  <div class="content"><router-outlet></router-outlet></div>

  <footer class="footer">
    <a routerLink="/about" class="about">À propos</a>
    <a routerLink="/channel/channel3" class="footer-a">
      <p class="footer-logo">TinySlack</p>
    </a>
    <button
      *ngIf="userService.isLoggedInUser()"
      routerLink="/login"
      class="form-button, deconnexion"
      type="submit"
      (click)="logout()"
    >
      Déconnexion
    </button>
  </footer>
</div>
