.icon-profile {
  width: 100px;
  height: auto;
}

.icon-profile:hover,
li:hover {
  transform: scale(1.2);
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  width: 400px;
  margin-left: 2%;
  margin-bottom: 0;
}

.footer-a {
  text-decoration: none;
  color: midnightblue;
}

/* .title:visited, */
.about:visited,
.footer-a:visited {
  color: midnightblue;
}

header,
footer {
  background-color: lightskyblue;
  color: midnightblue;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 0;
  height: 10%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  text-decoration: none;
  color: midnightblue;
}

.about:hover {
  color: aliceblue;
}

.footer-logo {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

section {
  padding-left: 2%;
}

.deconnexion {
  background-color: rgb(240, 248, 255);
  color: rgb(25, 25, 112);
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(25, 25, 112, 0.5);
}
