.icon-profile {
  width: 100px;
  height: auto;
}
.icon-profile:hover {
  transform: scale(1.2);
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
}
.title, .footer-a {
  text-decoration: none;
  color: midnightblue;
}
.title:visited,
.about:visited,
.footer-a:visited {
  color: midnightblue;
}
header,
footer {
  background-color: lightskyblue;
  color: midnightblue;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  height: 10%;
  padding: 50px 30px;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 10%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about {
  text-decoration: none;
  color: midnightblue;
}

.about:hover {
  color: aliceblue;
}
.footer-logo {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
#content {
  margin: 150px 0px;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
}

section{
  padding-left: 2%;
}

.deconnexion {
  background-color: aliceblue;
  color: rgb(25, 25, 112);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(25, 25, 112, 0.5);
}

/*CSS pour l'affichage global*/
.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  padding: 0;
  margin: 0;
  grid-template-areas: 
    "header header header"
    "channel-list content content"
    "channel-list content content"
    "channel-list content content"
    "footer footer footer"; 
    
}
.header { grid-area: header; }
.channel-list { grid-area: channel-list; }
.footer { grid-area: footer; }
.content { grid-area: content; }




/* Media query pour les écrans de moins de 600px */
@media screen and (max-width: 426px) {
  footer {
    flex-direction: column;
    align-items: center; /* Vous pouvez ajuster ceci selon vos besoins */
    height: 15%;
  }
}