.message-field {
  border: 1px solid midnightblue;
  box-shadow: 5px 5px 5px rgb(25, 25, 112, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
}
.message {
  background-color: lightskyblue;
  height: 40px;
  padding-top: 7px;
}
