<h2>Inscription</h2>
<form [formGroup]="signupForm" (submit)="onSubmit($event)">
  <div>
    <label for="userName">Nom:</label>
    <input type="userName" id="name" formControlName="userName">
    <div *ngIf="signupForm.get('userName')?.hasError('required')">
      Votre nom est requis.
    </div>
    <div *ngIf="signupForm.get('userName')?.hasError('maxlength')">
      Votre nom doit faire moins de {{ signupForm.get('userName')?.errors?.['maxlength']?.requiredLength }} caractères.
  </div>
  </div>
  <br>
  <div>
    <label for="email">Email:</label>
    <input type="userMail" id="email" formControlName="userMail">
    <div *ngIf="signupForm.get('userMail')?.hasError('required')">
      Email est requis.
    </div>
    <div *ngIf="signupForm.get('userMail')?.hasError('userMail')">
      Email invalide.
    </div>
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="signupForm.get('password')?.hasError('required')">
      Mot de passe est requis.
    </div>
    <div *ngIf="signupForm.get('password')?.hasError('minlength')">
        Mot de passe doit avoir au moins {{ signupForm.get('password')?.errors?.['minlength']?.requiredLength }} caractères.
    </div>
  </div>
  <br>
  <div>
    <label for="passwordConfirm">Password confirm:</label>
    <input type="password" id="passwordConfirm" formControlName="passwordConfirm">
    <div *ngIf="signupForm.get('passwordConfirm')?.value != signupForm.get('password')?.value">
      Mot de passe ne correspond pas.
    </div>
  </div>
  <br>
  <button class="form-button" type="submit" [disabled]="signupForm.invalid" >Inscription</button>
</form>

<br>
<a routerLink="/login">Déjà inscrit? Cliquez ici !</a>
