<div>
  <h2>Inscription</h2>
  <form [formGroup]="signupForm" (submit)="onSubmit($event)">
    <div>
      <label for="userName">Nom:</label>
      <input
        type="text"
        id="userName"
        formControlName="userName"
        class="input is-small is-rounded"
      />

      <div *ngIf="signupForm.get('userName')?.hasError('required')">
        <p>Votre nom est requis.</p>
      </div>
      <div *ngIf="signupForm.get('userName')?.hasError('maxlength')">
        <p>
          Votre nom doit faire moins de
          {{
            signupForm.get("userName")?.errors?.["maxlength"]?.requiredLength
          }}
          caractères.
        </p>
      </div>
    </div>
    <br />
    <div>
      <label for="userMail">Email:</label>
      <input
        type="email"
        id="userMail"
        formControlName="userMail"
        class="input is-small is-rounded"
      />
      <div *ngIf="signupForm.get('userMail')?.hasError('required')">
        <p>Email est requis.</p>
      </div>
      <div *ngIf="signupForm.get('userMail')?.hasError('email')">
        <p>Email invalide.</p>
      </div>
    </div>
    <br />
    <div>
      <label for="password">Mot de passe:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="input is-small is-rounded"
      />
      <div *ngIf="signupForm.get('password')?.hasError('required')">
        <p>Mot de passe est requis.</p>
      </div>
      <div *ngIf="signupForm.get('password')?.hasError('minlength')">
        <p>
          Mot de passe doit avoir au moins
          {{
            signupForm.get("password")?.errors?.["minlength"]?.requiredLength
          }}
          caractères.
        </p>
      </div>
    </div>
    <br />
    <div>
      <label for="passwordConfirm">Confirmation mot de passe:</label>
      <input
        type="password"
        id="passwordConfirm"
        formControlName="passwordConfirm"
        class="input is-small is-rounded"
      />
      <div
        *ngIf="
          signupForm.get('passwordConfirm')?.value !=
          signupForm.get('password')?.value
        "
      >
        <p>Mot de passe ne correspond pas.</p>
      </div>
    </div>
    <br />

    <button class="form-button" type="submit" [disabled]="signupForm.invalid">
      Inscription
    </button>
  </form>

  <br />
  <a routerLink="/login">Déjà inscrit? Cliquez ici !</a>
</div>