body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  color: midnightblue;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 60%;
}

button {
  background-color: rgb(25, 25, 112);
  color: rgb(240, 248, 255);
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(25, 25, 112, 0.5);
}

button:hover {
  transform: scale(1.05);
}

.center {
  text-align: center;
}

/* Media query pour les écrans de moins de 600px */
@media screen and (max-width: 426px) {
  footer {
    flex-direction: column;
    align-items: center; /* Vous pouvez ajuster ceci selon vos besoins */
    height: 15%;
  }
}
