html,
body,
.container {
  height: 100%;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
  padding: 0;
  color: midnightblue;
}
label {
  display: block;
}
button {
  background-color: rgb(25, 25, 112);
  color: rgb(240, 248, 255);
  border: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(25, 25, 112, 0.5);
}

button:hover,
.title:hover,
.footer-a:hover {
  transform: scale(1.05);
}

.plus-btn {
  margin-left: 40px;
}

/*CSS pour l'affichage global*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  padding: 0;
  margin: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "channel-list content content"
    "channel-list content content"
    "channel-list content content"
    "footer footer footer";
}
.header {
  grid-area: header;
}
.channel-list {
  grid-area: channel-list;
  padding-left: 2%;
  border-right: 1px solid midnightblue;
}
.footer {
  grid-area: footer;
}
.content {
  grid-area: content;
  text-align: center;
  overflow: auto;
  max-height: 80%;
  margin-left: 1%;
}
.content h1,
.content h2,
.content h3 {
  color: midnightblue;
}
.content::-webkit-scrollbar {
  display: none;
}
.is-small {
  max-width: 250px;
}

/* Media query pour les écrans de moins de 600px */

@media screen and (max-width: 769px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .channel-list {
    margin-top: 13%;
    border-right: none;
    border-bottom: 1px solid midnightblue;
  }
  .content {
    margin-bottom: 18% !important;
    margin-top: 1%;
  }
  footer {
    flex-direction: column;
    align-items: center; /* Vous pouvez ajuster ceci selon vos besoins */
    height: 15%;
  }
}
