<h3>{{ canal.channelName }}</h3>
<div>{{ canal.channelDescription }}</div>
<p>Créateur: {{ canal.user.userName }}</p>
<div *ngIf="currentUser.userId == canal.user.userId">
  <button (click)="onDisplayForm()">Modifier</button>
  <ng-template *ngIf="displayForm"
    ></ng-template>
</div>
<app-change-channel [actualChannel]="canal"></app-change-channel
  >

<!-- <div *ngFor="let message of messagesFromChannel">
  <app-message [msg]="message"></app-message>
</div> -->

<app-create-message></app-create-message>